body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 150px;
    padding-right: 150px;
}

.vue-table {
    table-layout: fixed;
}

.vue-table td {
    word-wrap: break-word;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
.counter {
    min-width: 25px;
    border: solid 1px;
    border-radius: 10px;
    padding: 2px;
    margin-top: -5px;
    border-color: #bbbbbb;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.elements {
    margin-top: 20px;
    border-radius: 5px;
}

/* class for vertically centring content of div content */
.autoupdate-checkbox {
    margin: 5px;
}
